@page
@model BUMS.CreateUserGroupModel
@{
ViewData["Title"] = "Create UserGroup";
}
<h1>Create a UserGroup</h1>

<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger">
            </div>
            <div class="form-group">
                <label asp-for="@Model.UserGroup.User" class="control-label"></label>
                <input asp-for="@Model.UserGroup.User" class="form-control"></input>
                <span asp-validation-for="@Model.UserGroup.User" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="@Model.UserGroup.Group" class="control-label"></label>
                <input asp-for="@Model.UserGroup.Group" class="form-control"></input>
                <span asp-validation-for="@Model.UserGroup.Group" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>
