@page
@model BUMS.CreateUserModel
@{
}

<h1>Create a user </h1>

<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="  ModelOnly  " class="text-danger">
            </div>
            <div class="form-group">
                <label asp-for="@Model.user.UserName" class="control-label"></label>
                <input asp-for="@Model.user.UserName" class="form-control" />
                <span asp-validation-for="@Model.user.UserName" class="text-danger"></span>
            </div>
            <div>
                <label asp-for="@Model.service." class="control-label">Varekategori</label><p></p>
                <select asp-for="@Model.user." asp-items="@Html.GetEnumSelectList<Group>()">
                    <option selected="selected" value="">Vælg et kategori</option>
                </select>
                <span asp-validation-for="@Model.item.StorageType" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>