@page
@model BUMS.GetUserModel
@{
    ViewData["Title"] = "Users";
}

<h3>List of Users</h3>
<p>
    <a asp-page="/User/CreateUser">Create New User</a>
</p>
<form>
    <p>
        Search: <input type="text" asp-for="FilterCriteria" />
        <input type="submit" value="Filter" />
        <a asp-page="/User/GetUser">Back to Full List </a>
    </p>
</form>
<table class="table">
    <thead>
        <tr>
            <th>User ID</th>
            <th>Name</th>
            <th>Created At</th>
            <th>Created By</th>
            <th></th>
            <th></th>
        </tr>
    </thead>
    <tbody>

        @if (Model != null)
        {
            @foreach (var item in Model.Users)
            {
                <tr>
                    <td>@item.UserID</td>
                    <td>@item.UserName</td>
                    <td>@item.CreatedAt</td>
                    <td>@item.CreatedBy</td>
                   @* <td>  @item.UserGroups </td> Denne skal vise gruppen useren er i *@
                    <td>
                        <p>
                            <a asp-page="/User/UpdateUser" asp-route-id="@item.UserID">Update</a>
                        </p>
                    </td>
                    <td>
                        <p>
                            <a asp-page="/User/DeleteUser" asp-route-id="@item.UserID">Delete</a>
                        </p>
                    </td>
                </tr>
            }
        }
</table>
